<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Van Mau</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/"><p class="navbar-brand">Van Mau</p></a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="van-mau-1"><a href="/">Van Mau 1</a></li>
          <li id="van-mau-2"><a href="/vanmau2">Van Mau 2</a></li>
          <li id="van-mau-3"><a href="/vanmau3">Van Mau 3</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
